@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255,255, 255;
    --background-start-rgb: 200, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      circle, darkorange,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

.mypage-background {
   background-image: url('../public/Fot_kosmos_pixabay.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
 }

/* KEYFRAMES */

/* SPIN */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 10s linear infinite;
}

/* SCROLL */
@keyframes scroll {
  0% {
    transform: translateY(100%) scale(1);
    opacity: 0.6;
    visibility: visible; /* make the text visible as soon as it starts to scroll */
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%) scale(0.1);
    opacity: 0;
  }
}

.angled-scroll {
  animation: scroll 25s linear infinite, shine 25s linear infinite;
  transform-origin: 10% 50%;
  visibility: hidden; /* make the text invisible before it starts to scroll */
}

/* SHINE */
@keyframes shine {
  0% {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }

  50% {
    text-shadow: 0 0 40px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 0 0 60px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mypage-link {
  color: #000000;
  border: 3px solid #000000;
  padding: 5px 10px;
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.mypage-link:hover {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}


/*TEXT EFFECTS*/
.gold-border {
  -webkit-text-stroke: 2px gold; /* width and color of the border */
  color: black; /* color of the text */
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Arial';
  text-align: center;
}
.black-border {
  -webkit-text-stroke: 2px black; /* width and color of the border */
  color: white; /* color of the text */
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Arial';
  text-align: center;
}
